{% extends "base.html" %}
{% block title %}Studyes{% endblock %}
{% block content %}

    <div class="list-group">
        <button type="button" class="list-group-item list-group-item-action active" aria-current="true">
            Курсы
        </button>
        <button type="button" class="list-group-item list-group-item-action">Мед сестринское дело</button>
        <button type="button" class="list-group-item list-group-item-action">Кулинария</button>
        <button type="button" class="list-group-item list-group-item-action">Швея/дизайнер</button>
        <button type="button" class="list-group-item list-group-item-action">Авто школа</button>
        <button type="button" class="list-group-item list-group-item-action">Массаж</button>
        <button type="button" class="list-group-item list-group-item-action active">Салонный мастер</button>
        <button type="button" class="list-group-item list-group-item-action">Парикмахер</button>
        <button type="button" class="list-group-item list-group-item-action">Макияж</button>
        <button type="button" class="list-group-item list-group-item-action">Перманентный макияж</button>
        <button type="button" class="list-group-item list-group-item-action active">Тилдер</button>
        <button type="button" class="list-group-item list-group-item-action">Англис тили</button>
        <button type="button" class="list-group-item list-group-item-action">Орус тили</button>
        <button type="button" class="list-group-item list-group-item-action">Корей тили</button>
    </div>

{% endblock %}